.footer{
  background: rgba(61,93,86,0.1);
  padding:20px;
  align-items: center;
  display: flex;
  justify-content: flex-end;

  .footer-links{
    @include flexbox;
    .btn{
      margin-right: 15px;
      &:last-child{margin-right: 0;}
    }  
  }
} 