html,
body,
.wrapper {
  height: 100%;
}
.header{
  justify-content: space-between;
  position: relative;
  flex:none;
  box-shadow: 0px 3px 4px #0000000B;
  background-color: $white-col;
  z-index: 3;
  padding: 0 40px;
  position: sticky;
  top: 0;
  @include flexbox;
  align-items: center;
  

  .header-pad{
    padding: 20px 0px 0;
  }

  .header-nav-list{
    @include flexbox;
    li {
      margin-right: 40px;
      padding-bottom: 18px;
        a {
          font-size: 21px;
          line-height: 27px;
          color: #475269;
          text-transform: capitalize;
          font-weight: 600;
        }
        .prim-btn{
          color: $white-col;
        }
        &.active, &:hover {
          border-bottom: 5px solid #2E56BE;
          a {
            color: #2E56BE;
            font-weight: 600;
          }
        }
        &:last-child {
          margin-right: 0;
          &:hover{
            border-bottom: 0;
            a{
              color: $white-col;
            }
          }
        }
      }
     
      
  }

  .sm-logo{
    margin-right: 59px;
  }
}
.head-shadow{
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(000,000,000,0.10);
}
.big-act-btn-list{
  @include flexbox;
  .big-act-link{
    margin-right: 10px;
    display: flex;
    align-items: center;
    &:first-child{margin-right: 10px;}
    &:last-child{margin-right: 0;}
    width: 30px;
    position: relative;
    cursor: pointer;
    img{
      display: block;
    }
    &.filter-btn{
      span{
        width: 30px;
        height: 30px;
        display: block;
        background: url('../images/icons/big-filter-btn.svg') no-repeat left top;
      }
      &:hover{
        cursor: pointer;
        span{
          background-position: left -55px;
        }
      }
      &.active{
        &:before{
          content:'';
          width: 18px;
          height: 12px;
          background: url('../images/icons/top-arrow.svg') no-repeat center center;
          position: absolute;
          bottom: -1px;
          left: 0;
          right: 0;
          margin: auto;

        }
        span{
          background-position: left -55px;
        }
      }
    }
  }
}
.client-info{
  .bcm-list{
    @include flexbox;
    b{
      font-weight: 400;
      font-size: 11px;
      line-height: 13px;
      color: #1A202C;
      }
  }
  h2{
    margin-bottom: 0;
  }
  span{
    display: block;
    font-size: 11px;
    color: #272833;
    opacity: 0.7;
  }

}

/* ritesh css */
.search-box{
  input{
    border: 1px solid #CDD7E6;
    background-color: $white-col;
    border-radius: 4px;
    padding: 10px;
  }
  .user-icon{
    margin-left: 15px;
    flex: none;
    cursor: pointer;
    img{
      display: block;
      width: 44px;
      height: 44px;
    }
  }
}