 .card{
  background: $white-col;
  border: 1px solid #CDCDCD;
  box-sizing: border-box;
  @include border-radius(10px);
}
.box {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @extend .pos-rel;
  // min-height: 60px;
  // padding: 0 17px;
}

.box-label {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #2D3748;
  display: block;
  margin-bottom: 5px;
}
.box-active-label {
  top: 9px;
  font-size: 13px;
}

.box-text{
  border: 1px solid #BEC0C0;
  @include border-radius(5px);
  padding:12px;
  font-weight:400;
  font-size: 14px;
  line-height: 17px;  
}

.box-text-focus {
  border: 1px solid #6BA5FF;
  box-shadow: 0px 0px 10px #A7CCE0;
  transition: all 0.3s;
  outline: none;
}
.flex-center {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
}
.flex-align-top {
  @include flexbox;
  @include align-items(flex-start);
}
.flex-align-center {
  @include flexbox;
  @include align-items(center);
}
.flex-left{
  @include flexbox;
  @include align-items(center);
  @include justify-content(flex-start);
}
.flex-right {
  @include flexbox;
  @include align-items(center);
  @include justify-content(flex-end);
}
.flex-space-between {
  @include flexbox;
  @include align-items(center);
  @include justify-content(space-between);
}
.flex-end{
  @include flexbox;
  @include align-items(flex-end);
  @include justify-content(flex-start);
}
.flex-bottom {
  @include flexbox;
  @include align-items(flex-end);
  @include justify-content(center);
}
.flex-direction-column {
  @include flexbox;
  @include flex-direction(column);
}
.inline-flex{
  display: inline-flex;
}
.checkbox {
  width: 24px;
  height: 24px;
  border: 1px solid #5c6979;
  display: block;
  position: relative;
  border-radius: 10px;
}
.checkbox-active {
  background-color: #5c6979;
  &:before {
    content: '';
    display: block;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 4px;
  }
}
.act-btn {
  width: 40px;
  height: 40px;
  @extend .flex-center;
  cursor: pointer;
}
.big-act-btn{
  @extend .flex-center;
  width: 65px;
  height: 65px;
  cursor: pointer;
}

.toast-msg {
  @extend .flex-center;
  background-color: #04C35C;
  // min-height: 60px;
  transform: translate(0, -70px);
  /* transition: all 0.5s; */
  z-index: 8;
  position: absolute;
  // width: max-content;
  // max-width: 300px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  width: 250px;
  border-radius: 33px;
  box-shadow: 1px 1px 5px #b2b2b2;
  transition: all 0.5s ease-in-out;
  padding: 7px 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color:#fff;
  span{
    @include flexbox;
    margin-right: 10px;

  }

  &.open {
    transform: translate(0, 16px);
    transition: all 0.2s;
  }

  .msg-text {
    font-size: 14px;
    color: #2ac8e0;
    letter-spacing: 0.2px;
    line-height: 14px;
  }
}


.toast-chat-msg{
  padding:8px 14px;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  padding-left: 40px;
  position: relative;
  &:before{
    background-color: $white-col !important;
    position: absolute;
    left:13px;
  }
  &.normal{
    &:before{
      content:'';
      @extend .sm-icon;
      background: url(../images/icons/green-tick.svg) no-repeat center center;
    }
    background-color: $green-col;
  }
  &.risk{
    &:before{
      content:'';
      @extend .sm-icon;
      background: url(../images/icons/red-warning-status.svg) no-repeat center center;
    }
    background-color: $red-col;
  }
  &.warning{
    &:before{
      content:'';
      @extend .sm-icon;
      background: url(../images/icons/orange-warning-status.svg) no-repeat center center;
    }
    background-color: $orange-col;
  }
  strong{
    font-weight: 600;
  }
  span{
    font-weight: 400;
  }
  
}
.loader {
  &::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url('/images/loader.svg');
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 10;
  }
}

.top {
  bottom: auto;
  top: 0;
  transform: translate(0, -70px);

  &.open {
    transform: translate(0, 60px);
    transition: all 0.2s;
  }
}

.loader-box {
  @extend.flex-center;
  @include flex-direction(column);
  max-width: 200px;
  min-height: 100px;
  margin: 0 auto;
  text-align: center;
  h5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: $black-col;
    letter-spacing: 0.2px;
    margin-bottom: 15px;
  }
  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #4c5980;
    letter-spacing: 0.2px;
  }
}
.load-dots {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    width: 10px;
    height: 10px;
    background-color: #0f96a2;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 2s ease-in-out infinite both;
    animation: sk-bouncedelay 2s ease-in-out infinite both;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  .dot0 {
    -webkit-animation-delay: -0.48s;
    animation-delay: -0.48s;
    background: #f46d21;
  }

  .dot1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
    background: #99c12f;
  }

  .dot2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    background: #cd132c;
  }
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: translate(0, 12px);
  }
  40% {
    -webkit-transform: translate(0, 0);
  }
}
//   @keyframes sk-bouncedelay {
//     0%, 80%, 100% {
//       -webkit-transform: scale(0);
//       transform: scale(0); }
//     40% {
//       -webkit-transform: scale(1);
//       transform: scale(1); }
//     }

.pg-loader {
  @extend.flex-center;
  width: 100%;
  height: calc(100vh - 60px);
}

//radio button block
/* Hide the browser's default radio button */
.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  line-height: 26px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 18px;
  height: 18px;
  left: 0;
}

/* Create a custom radio button */
.radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background: url('/images/icons/radio.svg') no-repeat;
  transition: all 0.3s ease-in-out;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio {
  background: url('/images/icons/radio-active.svg') no-repeat;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radio {
  background: url('/images/icons/radio-active.svg') no-repeat;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .radio:after {
  //    top: 9px;
  //   left: 9px;
  //   width: 8px;
  //   height: 8px;
  //   border-radius: 50%;
  //   background: white;
}

#bodyCompositionPageContainer {
  .radio {
    left: 3px;
  }
}

.shake {
  -webkit-animation: shakeAnim 0.4s 1 linear;
  -moz-animation: shakeAnim 0.4s 1 linear;
  -o-animation: shakeAnim 0.4s 1 linear;
}
@-webkit-keyframes shakeAnim {
  0% {
    -webkit-transform: translate(30px);
  }
  20% {
    -webkit-transform: translate(-30px);
  }
  40% {
    -webkit-transform: translate(15px);
  }
  60% {
    -webkit-transform: translate(-15px);
  }
  80% {
    -webkit-transform: translate(8px);
  }
  100% {
    -webkit-transform: translate(0px);
  }
}
@-moz-keyframes shakeAnim {
  0% {
    -moz-transform: translate(30px);
  }
  20% {
    -moz-transform: translate(-30px);
  }
  40% {
    -moz-transform: translate(15px);
  }
  60% {
    -moz-transform: translate(-15px);
  }
  80% {
    -moz-transform: translate(8px);
  }
  100% {
    -moz-transform: translate(0px);
  }
}
@-o-keyframes shakeAnim {
  0% {
    -o-transform: translate(30px);
  }
  20% {
    -o-transform: translate(-30px);
  }
  40% {
    -o-transform: translate(15px);
  }
  60% {
    -o-transform: translate(-15px);
  }
  80% {
    -o-transform: translate(8px);
  }
  100% {
    -o-origin-transform: translate(0px);
  }
}

.pageLoader {
  z-index: 20;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f5f8;
  font-size: 38px;
  @extend .flex-center;
}
.loader-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .loader-ico {
    background: url('../images/icons/health-logo.svg') no-repeat center center;
    width: 32px;
    height: 32px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 0 auto 20px;
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loader-text {
    font-size: 14px;
    line-height: 24px;
    color: $black-col;
    letter-spacing: -0.26px;
    width: 50px;
    margin: 0 auto;
  }
  .loader-text:after {
    content: '.';
    letter-spacing: -0.26px;
    animation-name: loading-text;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
}

@keyframes loading-text {
  0% {
    content: '.';
  }
  25% {
    content: '..';
  }
  50% {
    content: '...';
  }
  75% {
    content: '....';
  }
}

.sm-icon{
  width: 16px;
  height: 16px;
  @include border-radius(25px);
  background-position: center center;
}
.big-icon{
  width: 24px;
  height: 24px;
  @include border-radius(25px);
  background-position: center center;
  cursor: pointer;
}
.close-icon{
  @extend .big-icon;
  background: url(../images/icons/cancel.svg) no-repeat center center;
  background-color: $green-col;

}

.page-loader{
  position: relative;
  span{
    border: 2px solid $orange-col;
    border-top: 2px solid transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 60px;
  }
}

@keyframes spin {
  0% { 
   transform: rotate(0deg); 
}

  100% {
      transform: rotate(360deg);
  }
}