.side-nav{
  width: 250px;
  transition: all .1s ease-in-out;
  position: fixed;
  height: 100%;
  z-index: 9;
  padding-top: 30px;
  border-right: 2px solid #DDE0E0;
  @include flexbox;
  @include flex-direction(column);
  .nav-logo-holder{
    min-height: 70px;
    background-color: #fff;
    transition: all .1s ease-in-out;
    @extend .flex-center;
    .side-nav-logo{
      width: 40px;
      height: 40px;
      @extend .flex-center;
    }
  }
  .active-project-block {
    padding: 0 40px 20px;
    border-bottom: 2px solid #ECEDED;
    cursor: pointer;
    .project-img {
      margin-right: 12px;
    }
    .project-info{
      span{
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0px;
        color: #71798A;
        display: block;
      }
    }
  }
  .nav-list{
    flex: 1;
    @include flexbox;
    @include flex-direction(column);
    
   
  }

  .nav-footer{
    height: 80px;
    @extend .flex-center;
  }

}