//variables
$grey-col: #384347;
$blue-col: #0044AD;
$light-blue-col: #0C56C9;
$dark-blue-col: #073479;
$white-col: #ffffff;
$pink-col: #ff9b90;
$light-grey: #f7f9fa;
$red-col:#e02020;
$dark-bg-col: #01193d;

// Primary colors
$teal-col: #00b5a5;
$black-col: #012042;

// secondary colors
$sec-orange-col: #ff684e;
$sec-blue-col: #00a1bb;

// Neutrals colors
$default-col: #1A202C;
$medium-grey-col: #323f4b;
$light-grey-col: #708092;

$dark-grey-col: #2b3535;

// status colors
$red-col: #FB0000;
$yellow-col: #efb514;
$green-col: #04C35C;
$light-green-col: #3D5D56;
$dark-green-col: #02231B;
$orange-col: #FF7327;

// light backgound colors
$light-teal-col: #dbf4f2;
$light-orange-col: #fde4e0;
$pink-bg-col: #fff0ee;
