auto-complete, .select-box{
    @include flexbox;
    @include flex-direction(column);
    position: relative;

    input{

    }
}
// auto-complete{
//     &:before{
//         top:22px;
//     }
// }
.form-small-field{
    auto-complete{
        &:before{
            top:0;
        }
    }
}
.auto-complete {
    position: absolute;
    left: 0;
    top: 102%;
    width: 100%;
    min-height: 21px;
    background-color: #fff;
    border-radius: 2px;
    z-index: 9999;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-height: 200px;
    overflow: scroll; 

    li{
        cursor: pointer;
        padding: 10px 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        align-items: center;

        &:hover{
            background-color: $blue-col;
            color: #fff;
        }
    }
}

.ac-close{
    position: absolute;
    @extend .act-btn;
    top:0;
    right:0;
    z-index: 1;
    &:hover{
        cursor: pointer;
        opacity: 0.8;
    }
}