.form-container {
  
      .form-field {
        @extend .box;
        margin-bottom: 20px;
        // @extend .card;
  
        // &:hover,&:active{
        //   border:1px solid $dark-grey-col
        // }
          
        label{
          @extend .box-label;
        }
  
        input, textarea{
          @extend .box-text;
          // width: 100%;
          min-height: 18px;
        }

        textarea{
          min-height: 80px;
        }

        input:focus, select:focus, textarea:focus{
          @extend .box-text-focus;
        }
        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          box-sizing: border-box;
          appearance: none;
          outline: none;
          border: none;
        }
        select::-webkit-input-placeholder, input::-webkit-input-placeholder {
          /* Edge */
          color: rgba(3, 46, 36, 0.6);
        }
        select:-ms-input-placeholder, input::-ms-input-placeholder {
          /* Internet Explorer */
          color: rgba(3, 46, 36, 0.6);
        }
        select::placeholder, input::placeholder {
          color: rgba(3, 46, 36, 0.6);
        }
  
        select {
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          border: 0;
          z-index: 1;
          padding: 10px 12px;
          background-color: #fff !important;
          border: 1px solid #BEC0C0 !important;
          @include border-radius(5px);
        }
        select::-webkit-input-placeholder {
          /* Edge */
          color: rgba(156, 156, 156, 0.5);
        }
        select:-ms-input-placeholder {
          /* Internet Explorer */
          color: rgba(156, 156, 156, 0.5);
        }
        select::placeholder {
          color: rgba(156, 156, 156, 0.5);
        }
  
        input:focus + label,
        input.ng-not-empty + label,
        select:focus + label,
        select.ng-not-empty + label,  input:focus-within label{
          // @extend .box-active-label;
        }
        select:focus + label,
        select.ng-not-empty + label {
          z-index: 1;
        }
      }
  
      .select-field {
        display: flex;
        position: relative;
        z-index: 1;
        //label {
        //  @extend .box-label;
        //}
        //
        //&.active{
        //  label{
        //    @extend .box-active-label;
        //  }
        //}
        //
        //.select{
        //  position: relative;
        //  z-index: 1;
        //  select{
        //    background-color: transparent !important;
        //  }
        //}
        //// .select select option:active + label,
        //// .select select option:visited + label,
        //// .select select option:hover + label,
        //// .select select option:focus + label,
        //// .select select option.ng-not-empty + label {
        ////   @extend .box-active-label;
        //// }
        select {
          //content: '';
          //position: absolute;
          //width: 15px;
          //height: 15px;
          background: #ffffff url(../images/icons/drop-down.svg) no-repeat right center !important;
          //right: 20px;
          //top: 24px;
          //z-index: 0;
        }
      }
      
      .form-small-field{
        margin-right: 10px;
        @include flexbox;
        @include flex-direction(column);
  
        &:last-child{
          margin-right: 0;
        }

        label{
          @extend .box-label
        }

        input, .select-box{
          font-weight: 600;
          font-size: 12px;
          line-height: 12px;
          padding: 7px 10px;
          // min-height: 36px;
          color: #032D23;
          @include border-radius(6px);
          border: 1px solid #D2D2D2;
          background-color: $white-col !important;    
          min-width: 160px;
        }

        &.search-small-field{
          input{
            padding-left:28px !important;
            background: url("../images/icons/search.svg") no-repeat 8px 8px;
            min-width: 250px !important;
            @include border-radius(56px);
          }
        }
        
      }
      
      .file-upload-field{
        input{
          cursor:pointer;
          &:before{
            content:'Browse';
            position: absolute;
            right:15px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: -0.33px;
            color: $orange-col;
          }
        }
      }
    
    .add-form-group-row{
      @include flexbox;
    }
  
}


.select-box{
  &:before{
    position: absolute;
    content:'';
    width: 12px;
    height: 12px;
    right: 0;
    background: url('../images/icons/down-arrow.svg') no-repeat center center;  
    display: block;
    z-index: 3;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 12px;         
}
}

  .form-field, .form-small-field{
    &.error {
      input, select, textarea{
        border: 1px solid $red-col;
      }
      
      .error-text{
        font-size: 11px;
        line-height: 11px;
        color: $red-col !important;
        position: absolute;
        left: 0;
        bottom: -16px;
      }
    }
  }    


input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none !important;
  -webkit-appearance: none !important;
}

input[type='time']::-webkit-inner-spin-button,
input[type='time']::-webkit-calendar-picker-indicator {
  display: none !important;
  -webkit-appearance: none !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='date']::-webkit-inner-spin-button,
input[type='time']::-webkit-inner-spin-button,
input[type='number']::-webkit-inner-spin-button {
  opacity: 0;
}

.input {
  -webkit-appearance: none !important;
}

.filter-block{
  padding: 12px 20px;
  &.ft-bg{
    background-color: #E8E8E8;
  } 
}

.arch-box{
 @include flexbox;
  @include align-items(center);
}
.form-small-field{
  input::-webkit-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.33px;
    color: #032D23;
  
  }
  input:-ms-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.33px;
    color: #032D23;

  }
  input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.33px;
    color: #032D23;
  }
  
}



.form-group-links{
  @include flexbox;
  .btn{
    margin-left: 10px;
    &:first-child{margin-left: 0;}
  }
}


.radio-list{
  @include flexbox;
  margin-top: 3px;
  .radio-item {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin:0 20px 0 0 !important;
  }
  
  /* Hide the browser's default radio button */
  .radio-item input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 18px;
    width: 18px;
    // background-color: #eee;
    border-radius: 50%;
    border:1px solid #B8B8B8;
  }
  
  /* On mouse-over, add a grey background color */
  .radio-item:hover input ~ .checkmark {
    // background-color: #ccc;
    border-color:#181818
  }
  
  /* When the radio button is checked, add a blue background */
  .radio-item input:checked ~ .checkmark {
    // background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radio-item input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radio-item .checkmark:after {
     top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #B8B8B8;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
  }
}

::-webkit-file-upload-button{
  display: none;
}