.tab-list{
    padding: 15px 20px 0;
    @include flexbox;
    border-bottom: 1px solid #E9E9E9;
    &.pad-t-20{padding-top: 20px;}
    &.carousel-block{
        .tab{
            min-width: 62px;
            margin: 0 15px;
            text-align: center; 
            padding: 0px 5px 10px;
            &:first-child{
                margin-left: 0; 
            }
        }
    }
}
.tab{
    font-weight: 500;
    font-size: 16px;
    //color: #9C9EB9;
    color: #708092;
    line-height: 16px;
    padding: 8px 10px 10px;
    position: relative;
    margin-right: 10px;
    white-space: nowrap;
    @media screen and (max-width: 320px) { 
        font-size: 15px;
        line-height: 15px;
    }

    &:last-child{
        margin-right: 0;
    }

    &:after{
        content: '';
        position: absolute;
        height: 3px;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: transparent;
        display: block;
    }

    &.active, &:hover{
        color: $black-col;
        cursor: pointer;

        &:after{
            background-color:$black-col;
        }
    }
}

.tab-list-scroll{
    overflow: scroll;
    &:after{
        content:'';
        width:30px;
        height: 30px;
        display: block;
        flex: none;
    }
    .tab{
        flex:none;
    }
}

.tab-wrap{
    margin:0 -25px;
    .tab-list{
        overflow: scroll;
        .tab {flex:none;}
    }
}