.tag-list{
    @include flexbox;
    @include flex-wrap(wrap);
    margin:0 -5px;
    &.wrap-unset{
        flex-wrap: unset;
    }
}

.tag{
    font-weight: 400;
    font-size: 14px;
    color: $teal-col;
    letter-spacing: 0.2px;
    text-align: center;
    line-height: 14px;
    height: 32px;
    // background-color: #F4F6FA;
    // border: 1px solid #C1C3D7;
    border: 1px solid $teal-col;
    padding: 0 16px;
    @extend .flex-center;
    @include border-radius(50px);
    //box-shadow: 0px 0px 15px rgba(203, 206, 210, 0.32);
    margin:0 10px 10px 0px;
    transition: all 0.5s;
    box-sizing: border-box;
    white-space: nowrap;

    &:first-child{ margin-left: 0px; }
    @media screen and (max-width: 320px) {
        font-size: 13px;
        line-height: 13px;
        min-height: 30px;
        margin: 0 5px 5px;
        transition: all 0.5s;
    }
}
.tag.active{
    position: relative;
    // background-color: $pink-col;
    // color: #fff;
    // border-color: $pink-col;
    background: $teal-col;
    box-shadow: 0px 0px 15px rgba(203, 206, 210, 0.32);
    color: $white-col;
}

.scroll-tag-list{
    height: calc(100vh - 380px);
    overflow: scroll;
    margin: 0px 0px;
    @media screen and (max-width: 320px) {
        // height: calc(100vh - 385px);
    }
}

.inline-tag-list{
    @include flexbox;
    padding-left: 30px;
    overflow: scroll;
    margin: 0px 0px;
    &::-webkit-scrollbar {
        display: none;
      }
    &{
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }

    .tag{
        flex: none;
        margin: 0 8px 0px 0px;
    }
}   
.latest{
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
    color: #ffffff;
    padding: 4px 10px 3px;
    letter-spacing: 0.15px;
    //background-color: #FF9B90;
    background-color: $sec-blue-col;
    //text-transform: uppercase;
    //border-radius: 2px;
    @include border-radius(50px);
    margin-left: 10px;
}

.block-tag-list{
    padding-left:0;
    flex-direction: column;
    .tag{
        max-width: 150px;
        margin: 0 0 10px;
    }
}