.bullet-list {
  padding-left: 20px;
  margin-bottom: 25px;
  li {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: -20px;
      top: 8px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $grey-col;
    }
  }
  &.tickmark-bullets {
    padding-left: 25px;
    li {
      font-weight: 400;
      &::before {
        width: 16px;
        height: 16px;
        left: -25px;
        top: 4px;
        background: url('/images/tickmark.svg') center center no-repeat;
      }
    }
  }
}
.line-list {
  padding-left: 15px;
  margin-bottom: 25px;
  li {
    position: relative;
    font-weight: 400;
    line-height: 24px;
    &::before {
      content: '-';
      position: absolute;
      left: -15px;
      top: 0px;
      width: 7px;
      height: 0;
      //border-radius: 50%;
      //background-color: $grey-col;
    }
  }
}
.point-list {
  padding-left: 15px;
  margin-bottom: 10px;
  li {
    font-weight: 400;
    font-size: 14px;
    color: #4c5980;
    letter-spacing: 0.17px;
    line-height: 34px;

    &::before {
      top: 15px;
      width: 4px;
      height: 4px;
      left: -15px;
    }

    strong {
      font-weight: 500;
    }
  }
}